#add-to-cart-btn {
    width: 158px;
    height: 35px;
    background-color: #15ADB7 !important;
    border: 0 !important;
    outline: 0 !important; 
    color: #FFFFFF; 
    border-radius: 8px;
    font-size: 15px;
}

#add-to-cart-btn:hover {
    background-color: #12919a !important;
    border: 0 !important;
    outline: 0 !important; 
    color: #FFFFFF; 
    font-family: 'Poppins' !important;
}