.navigation {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: #1E1E1E;
  padding: 10px;
}

.left, .center, .right {
  display: flex;
  align-items: center;
}

.left img {
  width: 100px; 
}

.logo {
  width: fit-content;
  height: fit-content;
  outline: 0;
  border: 0;
  margin: 0;
  padding: 0;
}

.center ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.center li {
  margin-right: 100px;
}

.center a {
  text-decoration: none;
  color: #1E1E1E;
  font-size: 18px;
}

.bars-btn, .user-btn {
  background-color: #ffffff;
  outline: none;
  border: none;
  position: relative;
}

.badge {
  position: absolute;
  top: -6px;
  right: -1px;
  background-color: red;
  color: #fff;
  border-radius: 50%;
  padding: 2px 5.5px;
  font-size: 12px;
  font-family: 'Popins', sans-serif;
}

.menu-btn {
  display: none;
}

@media screen and (max-width: 950px) {
  .center {
      display: none; 
  }

  .navbar {
      flex-direction: row; 
  }

  .right {
      margin-left: auto;
  }

  .menu-btn {
      display: block; 
  }

  .profile-btn {
    border-right: #1e1e1e 1px solid;
    padding: 5px 10px 0 0;
  }

}

