#see-more-btn {
    width: 168px;
    height: 51px;
    background-color: #C1DCDC !important;
    border: 0 !important;
    outline: 0 !important; 
    color: #1E1E1E; 
    border-radius: 8px;
    font-size: 15px;
}

#see-more-btn:hover {
    background-color: #9cbbbd !important;
    border: 0 !important;
    outline: 0 !important; 
}