h1 {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 4.3vw;
  font-style: normal;
  font-weight: 800;
  line-height: 4rem;
  margin: 0;
}

.banner-container {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  background-color: #c1dcdc;
  border-radius: 24px;
}

.banner-container .text-element {
  width: 60%;
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding: 3rem 0 0 3rem;
}

.banner-container .text-element .intro-elements {
  padding-top: 1.5rem;
  width: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

/* IMAGE SECTION */
.image-elements {
  display: block;
  width: 40%;
  min-height: 32rem;
  position: relative;
}

.image-elements .banner-picture {
  display: block;
  position: absolute;
  right: 4.5rem;
  bottom: 0;
  width: 100%;
  height: auto;
  max-width: 500px;
}

.search-elements {
  padding-top: 3.34rem;
}
.animated-element {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@media screen and (max-width: 768px) {
  .image-elements {
    display: none;
  }
  h1 {
    font-size: 4rem;
  }
}

@media screen and (max-width: 1080px) {
  h1 {
    font-size: 4rem;
  }
}
