.product-highlight {
  width: 90%;
  max-width: var(--maxwidth-screen) !important;
  padding: 3rem 0;
  margin-top: 0 !important;
}

.product-highlight .product-highlight__title {
  color: #1e1e1e;
}

.product-highlight .product-highlight__gallery {
}
.product-highlight .product-highlight__gallery div .card-container {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1080px) {
  .product-highlight .product-highlight__title {
    text-align: center;
  }
}
