/* Style for LoginScreen as a screen */

.login-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100vw !important;
  height: 50vh !important;
  background-color: #C1DCDC;
  position: fixed;
  top: 0;
  margin: 0 auto;
}

.login-form {
  /* width: fit-content; */
  width: 100%;
  max-width: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  /* padding: 20px; */
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  position: absolute !important;
  top: 50% !important;
}

.p-card,
.p-card-body {
  width: 100% !important;
}

input {
  min-width: 0;
}

#input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.login-form button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #C1DCDC;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 768px) {
  .login-screen h1 {
    margin-bottom: 2rem; /* Reduce the margin for smaller screens */
  }
}

/* Responsive styles for even smaller screens (adjust breakpoints as needed) */
@media (max-width: 480px) {
  .login-form {
    max-width: 300px; /* Further reduce the form width for very small screens */
  }
}

/* Style for LoginScreen as a popup */
/* .login-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.login-popup input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.login-popup button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
} */
