.firstpage-container{
    /* display: flex; */
    max-width: 1080px !important;
    margin: auto !important;

}

.products-container {
    display: flex;
    flex-direction: column;

}

.contact-inputs-container {
  /* width: 50%; */
}
